<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <p>This is a About Page</p>
    <h3><%- 1 + 1 %></h3>
    <!--   ejs tag used directly -->
    <h3><%- data %></h3>
    <h3><%- add %></h>
  </body>
</html>
