<nav class="navbar">
  <div class="nav-container">
    <a href="#" class="logo">Digital<span>Pathshala</span></a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>
